agno
fastapi
uvicorn
python-dotenv
sqlalchemy
google-generativeai
pypdf
python-docx
markdown
python-multipart
pydantic-settings
google-genai
passlib[bcrypt]
python-jose[cryptography]
email-validator
openai
anthropic
bcrypt
numpy
pgvector
psycopg2-binary
requests